/* 전체 레이아웃 */
#wrap {}

/* 헤더03 flex 사용한 경우 */

#header {
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center
}
#header .logo {
    width: 20%;
}
#header .menu {
    width: 60%;
    text-align: center;
}
#header .menu li {
    display: inline-block;
}
#header .member {
    width: 20%;
    text-align: right;
}
