/* nav */
.nav ul {
    display: flex;
    justify-content: space-between;
}
.nav li {
    margin-top: 13px;
    display: inline-block;
    padding: 12px 12px 0px 12px;
}
.nav li:hover,
.nav li.active {
    background: #dbfafc6e;
    transition: all 0.3s;
}
.nav li.logo {
    margin-top: 8px;
    border: 1px solid #000;
    padding: 10px 15px 5px 15px;
    background: #DBFAFC;
}
.nav li a {
    font-size: 14px;
    font-weight: lighter;
}
.nav li a strong {
    font-weight: 700;
    font-size: 30px;
    background: -webkit-linear-gradient(#029A88 0%, #64A09B 50%, rgba(0,0,0,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* section1 */
.section1 {
    display: flex;
}
.section1__title {
    width: 610px;
    margin-right: 20px;
    margin-top: 100px;
}
.section1__titleUp {
    font-family: 'MakGeolli';
    font-size: 30px;
    color: #029A88;
    padding-right: 0px;
    margin: 250px 0 30px 40px;
    padding-right: 250px;
}
.section1__titleDo {
    margin-left: 40px;
    font-size: 100px;
    font-weight: 700;
    background: -webkit-linear-gradient(#029A88 0%, #64A09B 50%, rgba(0,0,0,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section1__img {
    width: 610px;
    margin-top: 100px;
}
.section1__img img {
    height: 770px;
}

/* section2 */
.section2__title {
    font-family: 'KNPSBandali-Regular00';
    font-size: 100px;
    color: #00C6AE;
    text-align: center;
    padding-top: 100px;
}
.section2__lists {
    display: flex;
    justify-content: space-between;
}
.section2__list {
    width: 295px;
    height: 290px;
    position: relative;
}
.section2__img {
    background: url(../img/svg.svg);
    width: 190px;
    height: 190px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.section2__img:hover {
    background-position: 0 -200px;
}
.section2__text {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    font-size: 25px;
}
.section2__num {
    text-align: center;
    padding-bottom: 10px;
}

/* section3 */
.section3 {
    color: #006054;
    text-align: center;
}
.section3__title {
    font-size: 40px;
    padding-top: 100px;
    font-weight: 500;
}
.section3__title.last {
    padding-top: 150px;
}
.section3__doc {
    font-size: 30px;
    margin-top: 60px;
    font-weight: 300;
}

/* section4 */
.section4 {
    color: #006054;
}
.section4__title {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
}
.section4__doc {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.section4__img {
    display: flex;
    justify-content: space-between;
}
.section4__img img {
    width: 610px;
    height: 320px;
}

/* section5 */
.section5 {
    color: #006054;
}
.section5__title {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
}
.section5__Personas {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.section5__left {
    width: 295px;
    height: 345px;
}
.section5__leftText {
    height: 50px;
    background: #DBE6FC;
    text-align: center;
}
.section5__leftText span {
    font-size: 30px;
    line-height: 50px;
}
.section5__leftText img {
    width: 295px;
    height: 295px;
}
.section5__right {
    width: 925px;
    height: 345px;
}
.section5__rightList {
    height: 50px;
    background: #DBE6FC;
}
.section5__rightList li {
    display: inline-block;
    margin: 0 120px;
    line-height: 50px;
    cursor: pointer;
    font-weight: 300;
}
.section5__rightList li:first-child {
    margin-left: 50px;
}
.section5__rightList li.active {
    font-weight: 500;
}
.section5__rightDoc {
    height: 295px;
    background: #ECF2FE;
}
.section5__doc > div {
    display: none;
    margin-left: 50px;
    padding-top: 50px;
    font-weight: 300;
    font-size: 25px;
    padding-right: 50px;
    line-height: 1.5;
}
.section5__doc > div:first-child {
    display: block;
}

/* section6 */
.section6 {
    color: #006054;
}
.section6__title {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
}
.section6__doc {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

/* section7 */
.section7 {
    color: #006054;
}
.section7__title {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
}
.section7__doc {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.section7__parts {
    display: flex;
    justify-content: space-between;
}
.section7__part {
    width: 400px;
    height: 490px;
    background: #ECF2FE;
}
.section7__partImg {
    width: 400px;
    height: 350px;
}
.section7__partText {
    width: 400px;
    height: 90px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.section7__partTextUp {
    margin-top: 30px;
    margin-bottom: 10px;
}
.section7__partTextDo {
    color: #222;
}

/* section8 */
.section8__title {
    font-family: 'KNPSBandali-Regular00';
    font-size: 100px;
    color: #00C6AE;
    text-align: center;
    padding-top: 100px;
}
.section8__cont {
    width: 1240px;
    height: 650px;
    background: #DBFAFC;
    position: relative;
}
.section8__cont img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* section9 */
.section9 .row1 {
    padding-top: 100px;
}
.section9 .row2 {
    padding-top: 30px;
}
.section9__img {
    display: flex;
    justify-content: space-between;
}
.section9__imgB {
    width: 715px;
    height: 500px;
}
.section9__imgS {
    width: 505px;
    height: 500px;
}

/* section10 */
.section10__title {
    font-family: 'KNPSBandali-Regular00';
    font-size: 100px;
    color: #00C6AE;
    text-align: center;
    padding-top: 100px;
}
.section10__cont {
    width: 1240px;
    height: 2560px;
    background: #DBFAFC;
    position: relative;
}
.section10__cont img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* section11 */
.section11__img {
    margin-top: 100px;
    width: 1240px;
    height: 500px;
}
.section11__doc {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    color: #006054;
}
.section11__img2 {
    margin-top: 30px;
    margin-left: 400px;
}

/* section12 */
.section12__title {
    font-family: 'KNPSBandali-Regular00';
    font-size: 100px;
    color: #00C6AE;
    text-align: center;
    padding-top: 100px;
}
.section12__cont {
    width: 1240px;
    height: 500px;
    background: #DBFAFC;
    position: relative;
}
.section12__img {
    background: url(../img/svg.svg);
    width: 78px;
    height: 78px;
    background-position: 0 -450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.section12__img:hover {
    background-position: -100px -450px;
}

/* footer */
.footer {
    text-align: center;
    color: #006054;
}
.footer__row1 {
    font-family: 'KNPSBandali-Regular00';
    font-size: 200px;
    font-weight: 700;
    margin-top: 200px;
    display: inline-block;
    margin-bottom: 50px;
}
.footer__row2 {
    font-size: 50px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 50px;
}
.footer__row3 {
    font-size: 50px;
    font-weight: 500;
}
.footer__row3 a {
    color: #006054;
    position: relative;
    margin-left: -50px;
}
.footer__row3 a::after {
    content: '';
    background: url(../img/svg.svg);
    width: 50px;
    height: 50px;
    background-position: 0 -550px;
    position: absolute;
}
.footer__row3 a:hover {
    color: #00C6AE;
}
.footer__row3 a:hover::after {
    background-position: 0 -650px;
}